In [2]:
#Load Library DPLYR
library(dplyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [35]:
#Load Stock Data 
# CHANGE PATH TO YOUR OWN.
ibm = read.csv("/Users/davianbrown/Documents/GitHub/CS636_MidtermProject/IBM.csv")
microsoft = read.csv("/Users/davianbrown/Documents/GitHub/CS636_MidtermProject/MSFT.csv")
google = read.csv("/Users/davianbrown/Documents/GitHub/CS636_MidtermProject/GOOG.csv")
apple = read.csv("/Users/davianbrown/Documents/GitHub/CS636_MidtermProject/AAPL.csv")
amazon = read.csv("/Users/davianbrown/Documents/GitHub/CS636_MidtermProject/AMZN.csv")
fb = read.csv("/Users/davianbrown/Documents/GitHub/CS636_MidtermProject/FB.csv")
netflix = read.csv("/Users/davianbrown/Documents/GitHub/CS636_MidtermProject/NFLX.csv")
tesla = read.csv("/Users/davianbrown/Documents/GitHub/CS636_MidtermProject/TSLA.csv")
oracle = read.csv("/Users/davianbrown/Documents/GitHub/CS636_MidtermProject/ORCL.csv")
sap = read.csv("/Users/davianbrown/Documents/GitHub/CS636_MidtermProject/SAP.csv")

<h2> <b> Retrieve the "Close" and "Adj Close" values for each stock </b> <h2>

In [36]:

# You will create a dataframe where there are 20 columns for the 10 stocks, each row is the 
# "Close" and "Adj Close" prices for the 10 stocks on each day, in the order of the business days in 2018. 
# Assume all buy/sell on the "Close" prices and there is no transaction cost.
market <- as.data.frame(cbind(Date=ibm$Date,ibmclose=ibm$Close,ibmadjclose=ibm$Adj.Close,
                              appleclose=apple$Close,
                              appleadjclose=apple$Adj.Close,amznclose=amazon$Close, amznadjclose=amazon$Adj.Close, 
                              fbclose=fb$Close,fbadjclose=fb$Adj.Close,
                              googleclose=google$Close,googleadjclose=google$Adj.Close,
                              msftclose=microsoft$Close,msftadjclose=microsoft$Adj.Close,
                              nflxclose=netflix$Close,nflxadjclose=netflix$Adj.Close,
                              orclclose=oracle$Close,orcladjclose=oracle$Adj.Close,sapclose=sap$Close,
                              sapadjclose=sap$Adj.Close,tslaclose=tesla$Close,tslaadjclose=tesla$Adj.Close))

<h2> <b> You start to manage 5 million dollars fund on Jan 02, 2018 </b> </h2>
<br></br>
    You have a strategy to manage the fund.

In [42]:
##### Buying five different stock day 1.############
investment_amount = 5000000
cash=0
for(i in 1:nrow(market)) {
##### On day 1, buy five stocks.########
  if (i==1) {
    today  = market[i,'Date']
    stocks = c('IBM','apple','amazon','fb','google')
    ibmstockamount = 0
    applestockamount = 0
    amazonstockamount = 0
    fbstockamount = 0
    googlestockamount = 0
    msftstockamount = 0
    nflxstockamount = 0
    orclstockamount = 0
    sapstockamount =  0
    tslastockamount = 0
    
    ibmshares = 0
    appleshares = 0
    amazonshares = 0
    fbshares = 0
    googleshares = 0
    msftshares = 0
    nflxshares = 0
    orclshares = 0
    sapshares = 0
    tslashares = 0
    
    ibmstockamount <- round(floor(1000000/as.numeric(market[market$Date==today,'ibmclose']))*as.double(market[market$Date==today,'ibmclose']),2)
    cash = round(cash+(investment_amount/5)-ibmstockamount,2)
    ibmshares <- ibmshares + floor(1000000/as.numeric(market[market$Date==today,'ibmclose']))
    
    applestockamount <- round(floor(1000000/as.numeric(market[market$Date==today,'appleclose']))*as.double(market[market$Date==today,'appleclose']),2)
    cash = round(cash+(investment_amount/5)-applestockamount,2)
    appleshares <- appleshares + floor(1000000/as.numeric(market[market$Date==today,'appleclose']))
    
    amazonstockamount <- round(floor(1000000/as.numeric(market[market$Date==today,'amznclose']))*as.double(market[market$Date==today,'amznclose']),2)
    cash = round(cash+(investment_amount/5)-amazonstockamount,2)
    amazonshares <- amazonshares + floor(1000000/as.numeric(market[market$Date==today,'amznclose']))
    
    fbstockamount <- round(floor(1000000/as.numeric(market[market$Date==today,'fbclose']))*as.double(market[market$Date==today,'fbclose']),2)
    cash = round(cash+(investment_amount/5)-fbstockamount,2)
    fbshares <- fbshares + floor(1000000/as.numeric(market[market$Date==today,'fbclose']))
    
    
    googlestockamount <- round(floor(1000000/as.numeric(market[market$Date==today,'googleclose']))*as.double(market[market$Date==today,'googleclose']),2)
    cash = round(cash+(investment_amount/5)-googlestockamount,2)
    googleshares <- googleshares + floor(1000000/as.numeric(market[market$Date==today,'googleclose']))
  
  ##### Calculation for mtm.(Step 1 of the project).########## 
  
    market[i,'mtm'] = cash+ibmshares*as.double(market[i,'ibmclose']) +
    appleshares*as.double(market[i,'appleclose']) +
    amazonshares*as.double(market[i,'amznclose']) +
    fbshares*as.double(market[i,'fbclose']) +
    googleshares*as.double(market[i,'googleclose']) +
    tslashares*as.double(market[i,'tslaclose']) +
    nflxshares*as.double(market[i,'nflxclose']) +
    msftshares*as.double(market[i,'msftclose']) +
    sapshares*as.double(market[i,'sapclose']) +
    orclshares*as.double(market[i,'orclclose']) 
  }
###### On day 6, sell lowest price stock from portfolio and buy five stocks from market(buying at #low)(step 2 of project)#####
    
  if (i == 6) {

    today  =  market[i,'Date']
    ibmchangeratio = (as.numeric(market[market$Date == today,'ibmadjclose']) - as.numeric(market[i-5,'ibmadjclose']))/as.numeric(market[i-5,'ibmadjclose'])*100
    
    applechangeratio = (as.numeric(market[market$Date == today,'appleadjclose']) - as.numeric(market[i-5,'appleadjclose']))/as.numeric(market[i-5,'appleadjclose'])*100
    
    amznchangeratio = (as.numeric(market[market$Date == today,'amznadjclose']) - as.numeric(market[i-5,'amznadjclose']))/as.numeric(market[i-5,'amznadjclose'])*100
    
    
    fbchangeratio = (as.numeric(market[market$Date == today,'fbadjclose']) - as.numeric(market[i-5,'fbadjclose']))/as.numeric(market[i-5,'fbadjclose'])*100
    
    googlechangeratio = (as.numeric(market[market$Date == today,'googleadjclose']) - as.numeric(market[i-5,'googleadjclose']))/as.numeric(market[i-5,'googleadjclose'])*100
    
    ratios <- c(ibmchangeratio,applechangeratio,amznchangeratio,fbchangeratio,googlechangeratio)
    
    
    
    cash = cash + applestockamount
    applestockamount= 0
    
    msftchangeratio = (as.numeric(market[market$Date == today,'msftadjclose']) - as.numeric(market[i-5,'msftadjclose']))/as.numeric(market[i-5,'msftadjclose'])*100
    
    nflxchangeratio = (as.numeric(market[market$Date == today,'nflxadjclose']) - as.numeric(market[i-5,'nflxadjclose']))/as.numeric(market[i-5,'nflxadjclose'])*100
    
    orclchangeratio = (as.numeric(market[market$Date == today,'orcladjclose']) - as.numeric(market[i-5,'orcladjclose']))/as.numeric(market[i-5,'orcladjclose'])*100
    
    sapchangeratio = (as.numeric(market[market$Date == today,'sapadjclose']) - as.numeric(market[i-5,'sapadjclose']))/as.numeric(market[i-5,'sapadjclose'])*100
    
    tslahangeratio = (as.numeric(market[market$Date == today,'tslaadjclose']) - as.numeric(market[i-5,'tslaadjclose']))/as.numeric(market[i-5,'tslaadjclose'])*100
    
    print(ibmchangeratio)
    print(applechangeratio) #
   print( amznchangeratio)
    print(fbchangeratio) #
    print(googlechangeratio) #
    print(msftchangeratio) #
    print(nflxchangeratio)
    print(orclchangeratio)
    print(sapchangeratio) #
    print(tslahangeratio)
    
    newinvamount = cash/5
    
    applestockamount = applestockamount + round(floor(newinvamount/as.numeric(market[market$Date==today,'appleclose']))*as.double(market[market$Date==today,'appleclose']),2)
    cash = round(cash-round(floor(newinvamount/as.numeric(market[market$Date==today,'appleclose']))*as.double(market[market$Date==today,'appleclose']),2),2)
    appleshares = appleshares + floor(newinvamount/as.numeric(market[market$Date==today,'appleclose']))
    
    
    fbstockamount =fbstockamount + round(floor(newinvamount/as.numeric(market[market$Date==today,'fbclose']))*as.double(market[market$Date==today,'fbclose']),2)
    cash = round(cash-round(floor(newinvamount/as.numeric(market[market$Date==today,'fbclose']))*as.double(market[market$Date==today,'fbclose']),2),2)
    fbshares = fbshares + floor(newinvamount/as.numeric(market[market$Date==today,'fbclose']))
    
    
    msftstockamount =  msftstockamount+round(floor(newinvamount/as.numeric(market[market$Date==today,'msftclose']))*as.double(market[market$Date==today,'msftclose']),2)
    cash = round(cash-round(floor(newinvamount/as.numeric(market[market$Date==today,'msftclose']))*as.double(market[market$Date==today,'msftclose']),2),2)
    msftshares = msftshares + floor(newinvamount/as.numeric(market[market$Date==today,'msftclose']))
    
    
    googlestockamount = googlestockamount+round(floor(newinvamount/as.numeric(market[market$Date==today,'googleclose']))*as.double(market[market$Date==today,'googleclose']),2)
    cash = round(cash-round(floor(newinvamount/as.numeric(market[market$Date==today,'googleclose']))*as.double(market[market$Date==today,'googleclose']),2),2)
    googleshares = googleshares + floor(newinvamount/as.numeric(market[market$Date==today,'googleclose']))
    
    
    sapstockamount = sapstockamount+round(floor(newinvamount/as.numeric(market[market$Date==today,'sapclose']))*as.double(market[market$Date==today,'sapclose']),2)
    cash = round(cash-round(floor(newinvamount/as.numeric(market[market$Date==today,'sapclose']))*as.double(market[market$Date==today,'sapclose']),2),2)
    msftshares = sapshares + floor(newinvamount/as.numeric(market[market$Date==today,'sapclose']))
    
    market[i,'mtm'] = cash+ibmshares*as.double(market[i,'ibmclose']) +
    appleshares*as.double(market[i,'appleclose']) +
    amazonshares*as.double(market[i,'amznclose']) +
    fbshares*as.double(market[i,'fbclose']) +
    googleshares*as.double(market[i,'googleclose']) +
    tslashares*as.double(market[i,'tslaclose']) +
    nflxshares*as.double(market[i,'nflxclose']) +
    msftshares*as.double(market[i,'msftclose']) +
    sapshares*as.double(market[i,'sapclose']) +
    orclshares*as.double(market[i,'orclclose'])         
  }
}

[1] 6.210678
[1] 1.201694
[1] 5.356552
[1] 3.555284
[1] 3.874179
[1] 2.641075
[1] 4.098071
[1] 5.62096
[1] 1.57488
[1] 4.105694

In [39]:
head(market)

  Date       ibmclose   ibmadjclose appleclose appleadjclose amznclose
1 2018-01-02 154.25     129.093933  43.064999  41.248272     1189.01001
2 2018-01-03 158.490005 132.642426  43.057499  41.241089     1204.199951
3 2018-01-04 161.699997 135.328873  43.2575    41.432659     1209.589966
4 2018-01-05 162.490005 135.990097  43.75      41.904385     1229.140015
5 2018-01-08 163.470001 136.810226  43.587502  41.748737     1246.869995
6 2018-01-09 163.830002 137.111542  43.5825    41.74395      1252.699951
  amznadjclose fbclose    fbadjclose googleclose ⋯ msftadjclose nflxclose
1 1189.01001   181.419998 181.419998 1065        ⋯ 81.848289    201.070007
2 1204.199951  184.669998 184.669998 1082.47998  ⋯ 82.229195    205.050003
3 1209.589966  184.330002 184.330002 1086.400024 ⋯ 82.952927    205.630005
4 1229.140015  186.850006 186.850006 1102.22998  ⋯ 83.981384    209.990005
5 1246.869995  188.279999 188.279999 1106.939941 ⋯ 84.067101    212.050003
6 1252.699951  187.869995 187.869995 1106.26001  ⋯ 84.009964    209.309998
  nflxadjclose orclclose orcladjclose sapclose   sapadjclose tslaclose
1 201.070007   46.630001 43.821484    112.389999 105.914291  64.106003
2 205.050003   47.709999 44.836437    113.309998 106.781288  63.450001
3 205.630005   48.18     45.278126    115.050003 108.421028  62.924
4 209.990005   48.470001 45.550655    116.330002 109.627281  63.316002
5 212.050003   48.98     46.029942    114.800003 108.18544   67.281998
6 209.309998   49.060001 46.284672    114.160004 107.582314  66.737999
  tslaadjclose mtm
1 64.106003    5000000
2 63.450001         NA
3 62.924            NA
4 63.316002         NA
5 67.281998         NA
6 66.737999    5956231

<b><h2> 
  3.  Corporations generally issue stock dividends on some days. The total dividend you get on such a day is the stock dividend times your shares if you have shares of this stock on the dividend day. If you buy shares on the dividend day, these bought shares are not qualified to get dividend. If you sell shares on the dividend day, the sold shares are qualified to get dividend. For example, on 2/8/2018, IBM issued 1.5 dividend per share. In your cash account, you will automatically get
    
    1.5 x (Your IBM SHares on 2/8/2018
  
 </h2></b>